*~
build
.ninja*
CMakeCache.txt
rules.ninja
cmake_install.cmake
src/cmake_install.cmake
scripts/cnfuzz
scripts/minisat
scripts/gmon.out
.cache/
.vscode/
CMakeFiles
*.o
*.o[dr]
3rdParty/glucose-3.0/core/depend.mk
*.a
!3rdParty/patoh/libpatoh.a